@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model List<EmployeeDetailsServiceModel>

@{
    ViewData["Title"] = "Our Team";
}

<div class="text-center">

    <h3>MEET OUR TEAM</h3>
    @if (SignInManager.IsSignedIn(User))
    {
        var userIsAdmin = User.IsInRole(WebConstants.AdministartorRoleName);

        if (userIsAdmin)
        {
            <a class="btn btn-danger " asp-area="" asp-controller="Employees" asp-action="Add">Add new Employee</a>
        }
    }
    <hr class="my-4">
</div>

<div class="row">
    @foreach (var employee in Model)
    {
        <figure class="figure text-center responsive mr-auto col-md-4">
            <a asp-controller="Employees" asp-action="Details" asp-route-employeeId="@employee.Id">
                <img class="card-img-top" src="@employee.Image">
            </a>
            <div class="card-body">
                <h5 class="card-title text-center">@employee.FirstName  @employee.LasttName</h5>
                <p class="card-text text-center">@employee.Position</p>
            </div>
        </figure>
    }
</div>
